@page
@model SIprojekat.Pages.OblastPages.OblastModel

@{
    ViewData["Title"] = "Oblast";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Oblast</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oblast[0].NazivOblasti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oblast[0].Predmet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Oblast) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivOblasti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predmet.Naziv)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Izmeni</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalji</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
